// .ampstart-headerbar 

.ampstart-headerbar {
    background-color: #fff;
    color: #000;
    z-index: 999;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1)
}

.ampstart-headerbar+:not(amp-sidebar),
.ampstart-headerbar+amp-sidebar+* {
    margin-top: 3.5rem
}

.ampstart-headerbar .ampstart-nav-search:active,
.ampstart-headerbar .ampstart-nav-search:focus,
.ampstart-headerbar .ampstart-nav-search:hover {
    box-shadow: none
}

// ampstart-navbar-trigger

.ampstart-navbar-trigger:focus {
    outline: none
}

.ampstart-nav a,
.ampstart-navbar-trigger,
.ampstart-sidebar-faq a {
    cursor: pointer;
    text-decoration: none
}

.ampstart-navbar-trigger {
    line-height: 3.5rem;
    font-size: 2rem
}

.ampstart-sidebar .ampstart-navbar-trigger {
    line-height: inherit
}

.ampstart-navbar-trigger svg {
    pointer-events: none
}



